.app {
    text-align: center;
    background-image: url("bg3.jpg");
    height: 90vh; 
    background-size: cover;

  }
  
  .font_fill{
    font-family: "Times New Roman";
     color:#2a4043;
  }

  .login_container{
    padding: 25px;
    width: 500px;
    height: 40vh;
    border: whitesmoke solid 2px;
    border-radius: 1rem;
    background-color: #d0e6ec;
    margin-top: 30vh;
    display: inline-block;
    text-align: center;
  }
  
  .t1{
    margin-top: 10 px;
  }  

  .navbar {
    height: 10vh;
    overflow: hidden;
    background-color:#d0e6ec;
  }
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
  }
  
  

  

  