.container{
  padding: 25px;
  width: 5vw;
  height: 40vh;
  border: whitesmoke solid 2px;
  border-radius: 1rem;
  background-color: #d0e6ec;
  margin-top: 30vh;
  display: inline-block;
  text-align: center;
}

.t1{
  margin-top: 10 px;
}

