.navbar {
  height: 10vh;
  overflow: hidden;
  background-color: white;
}


.navbar .navbar__brand {
  align-items: center;
  color: #1c1e21;
  color: var(--ifm-navbar-link-color);
  display: flex;
  font-weight: 700;
  height: 2rem;
  text-decoration: none;
}
